.text_indentation {
    margin-bottom: 96px;
}

.projects {
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        row-gap: 62px;
        column-gap: 45px;
        margin-bottom: 203px;
        justify-items: center;
        align-items: center;
    }

    &__item {
        width: 375px;
        box-sizing: border-box;
        padding-bottom: 25px;
        border-radius: 20px;
        box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2),0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: rgb(255, 255, 255);
    }

    &__text-box {
        padding-left: 28px;
    }

    &__name {
        color: #000;
        font-size: 1.75rem;
        font-weight: 500;
        margin-top: 27px;
        margin-bottom: 17px;
    }

    &__description {
        color: var(--dark-content, #666);
        font-size: 1.12rem;
        font-weight: 300;
        margin-bottom: 12px;
        max-width: 314px;
    }

    &__stack {
        color: var(--Solid-Heading, #42446E);
        font-size: 0.87rem;
        font-weight: 300;
        margin-bottom: 21px;

        &_bold-text {
            font-size: 1rem;
            font-weight: 400;
        }
    }

    &__links {
        display: flex;
        gap: 48px;
    }

    &__link {
        display:flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    &__link-name {
        color: #000;
        font-size: 1rem;
        text-decoration-line: underline;
    }
}